* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: $color-back;
}

a {
  cursor: pointer;
}

input,
textarea {
  font-size: 14px;
  resize: none;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.space {
  flex: 1;
}