$color-blue: #007bff;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$color-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #28a745;
$color-teal: #20c997;
$color-cyan: #17a2b8;
$color-white: #FFFFFF;
$color-silver: #f8f9fa;
$color-fog: #e9ecef;
$color-gray: #ced4da;
$color-dark: #343a40;
$color-black: #000000;

$color-back: #F8F8F8;
$color-line: #E2E2E2;


$style-border: 1px solid $color-line;